<a href="https://colab.research.google.com/github/youse0ng/AICE_/blob/main/AICE_04_%EA%B8%B0%EC%B4%88%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%8B%A4%EB%A3%A8%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 필요 데이터 선택하기

In [ ]:
import numpy as np
import pandas as pd
from google.colab import files

myfile = files.upload()
flight=pd.read_csv("/content/Clean_Dataset.csv")
flight

## 칼럼명으로 데이터 선택하기

In [ ]:
flight[['departure_time']] # 특정 칼럼의 데이터프레임의 데이터 추출하기

# 여러 개의 칼럼명을 리스트 형식으로 나열하여 다수의 칼럼을 선택할 수 있다.
flight[['airline','departure_time','source_city']]

## 행 범위를 지정하여 데이터 선택하기

데이터프레임에서 슬라이싱을 이용하여 행 범위의 데이터를 선택할 수 있다.

In [ ]:
# 10행부터 20행까지 데이터를 가지고 오기
flight[10:21]

## 특정 행, 열 범위를 선택하여 데이터 선택하기
`loc` location
1.   데이터프레임의 행이나 열에 레이블로 접근
2.   인덱스 및 칼럼명을 통해 지정하는 방법
3.   설정한 인덱스 그대로 사용


`iloc`  integer location
1.   데이터프레임의 행이나 열에 인덱스 값으로 접근
2.   인덱스를 활용해 지정하는 방법
3.   0 based index로 사용

매우 중요

In [ ]:
flight.index=np.arange(100,300253)
flight

In [ ]:
flight.loc[[102,202,302]] # 101,202,302번 데이터를 loc를 이용하여 선택하려면 설정한 인덱스를 그대로 확인하면됨.

In [ ]:
# 하지만 iloc 을 사용하여 선택하고자 한다면 기존 0 based index로 설정해야한다.
# 첫번째 행부터 0,1,2,3,4...과 같은 0 based index로 볼 때, 2, 102, 202 순서에 있는 데이터입니다.
# 따라서 iloc을 사용하여 아래와 같이 데이터를 추출 할 수 있다.

flight.iloc[[2,102,202]]

### 행과 열을 동시에 선택하는 경우 loc과 iloc의 차이
flight 데이터프레임에서 102,202,302 행과 'airline','flight','source_city','price'칼럼만 loc과 iloc을 이용하여 선택하는 경우

In [ ]:
 flight.loc[[102,202,302],['airline','flight','source_city','price']]

In [ ]:
flight.loc

In [ ]:
flight.iloc[[2,102,202],[1,2,3,11]]

## 조건으로 데이터 선택하기

In [ ]:
flight_extract=flight[(flight['price']>12000) & (flight['airline'] == 'Air_India')]
flight_extract.head()

In [ ]:
#조건을 별도로 지정해서 데이터 추출
price_tag=flight['price']>12000

airline_tag=flight['airline']=="Air_India"

flight_extract2=flight[price_tag & airline_tag].head()
flight_extract2

# 필요 데이터 변경하기
데이터를 조회하고 수정하는 과정에서 칼럼을 추가하거나 삭제하는 등 필요에 따라 데이터를 변경하는 일이 자주 발생한다. 데이터를 변경하는 법을 살펴보자.

## 데이터 추가하기
기존 데이터프레임의 칼럼을 이용하여 새로운 칼럼을 추가할 수 있다.

### 새로운 칼럼 만들기

In [ ]:
# price 2배로 하는 새로운 칼럼
flight['price2']=flight['price']*2
flight.head()

In [ ]:
flight['price3']=flight['price']+flight['price2']
flight.head()

새로운 칼럼이 마지막에 생성이 되었는데, insert함수를 사용하여 원하는 위치에 칼럼을 생성할 수 있다.

insert 함수의 사용법
df.insert(loc,column,value,allow_duplicates=False)

-loc=삽입될 열의 위치

-column=삽입될 열의 이름

-value=삽입될 열의 값

In [ ]:
# 새로운 위치에 원하는 칼럼 넣기
flight.insert(10,'duration2',flight['duration']*10)
flight.head()

## 데이터 삭제하기
`drop` 메소드를 사용하여 기본적인 삭제가능

- axis파라미터를 이용하여 행을 기준으로 삭제할 것이지 칼럼 기준으로 삭제할 것인지 정의가능

- axis=1: 열 레벨로 데이터를 삭제

- axis=0: 행 레벨로 데이터를 삭제

In [ ]:
flight.drop('price3',axis=1).head()

In [ ]:
flight.drop(index=100,axis=0).head()

하지만 원본 데이터프레임을 확인해보면 price3가 삭제 되지 않았다.

원본 데이터 프레임에서 삭제하는 방법은 2가지가 있다.

1. drop 메소드를 활용하여 지운 후 다른 데이터프레임에 저장하는 방법
2. drop 메소드의 파라미터인 inplace를 이용하여 원본데이터프레임에서 데이터를 지우는 것이다. inplace=True

In [ ]:
flight1=flight.drop(columns='price3',axis=1)
flight1.head()

In [ ]:
flight.drop(axis=1,columns='price3',inplace=True)
flight.head()

## 칼럼명 변경하기

데이터 분석을 위한 데이터 전처리 과정은 프로젝트를 수행하는 다양한 팀이 참석하여 진행할 수 있으므로 원본 데이터의 칼럼명보다 단순하거나 직관적이어야한다.
이때 rename 메소드를 활용하면 데이터 칼럼명을 변경할 수 있다.

In [ ]:
# 기존 airline 칼럼명과 source_city 칼럼명을 각각 airline_name, departure_city로 변경해보자.

flight=flight.rename(columns={'airline':'airline_name','source_city':'departure_city'})
flight.head()

## 데이터프레임 정렬하기

데이터를 분석할 때 원하는 칼럼을 기준으로 데이터프레임을 정렬하여 조회할 때가 있다. `sort_values` 메소드를 이용하면 데이터 프레임을 정렬할 수 있다.

`ascending` 파라미터를 False 로 저장하면 역순으로 정렬한다.

In [ ]:
# sort_values 메소드와 ascending 매개변수를 지정하여 데이터프레임 역순으로 정렬하기
# Unnamed:0 기준으로 역순으로 정렬
flight=flight.sort_values(ascending=False,by='Unnamed: 0')
flight
# 결과를 보면 Unnamed: 0 칼럼이 가장 큰 수부터 내림차순으로 정렬된 것을 확인할 수있다.

In [ ]:
flight=flight.sort_values(ascending=True,by='Unnamed: 0')
flight

# 데이터프레임 변경하기

데이터프레임 자체를 변형하여 원하는 데이터 만들기

In [ ]:
flight=pd.read_csv("./Clean_Dataset.csv",encoding='cp949')
flight

## 그룹화하기
1) groupby 메소드 : 데이트프레임의 같은 값을 하나로 묶어서 통계나 집계 결과를 확인하기 위해 사용
  
  예를 들어, 기상 데이터를 날짜별, 도시별로 값을 묶어서 통계나 집계 결과를 확인할 수 있음

  groupby 내부 메소드

  - count(): 데이터 갯수
  - size(): 집단별 크기
  - sum(): 데이터의 합
  - mean, std, var: 평균 표준편차 분산
  - min, max: 최소 최대

### grouby

In [ ]:
# airline 칼럼 기준으로 그룹화하기
airline_group=flight.groupby('airline')
airline_group.groups

# 가독성이 좋지 않으므로 groupby 내부 메소드를 활용하여 데이터 확인하기.
airline_group.count()

In [ ]:
# 최소값 확인
airline_group.min()

In [ ]:
# 최소값 확인
airline_group.max()

In [ ]:
# 특정 칼럼 값만 확인

airline_group.mean()[['price']]

In [ ]:
# groupby를 이용하여 다중 인덱싱 설정하기
flight.groupby(['airline','arrival_time']).mean()

In [ ]:
# groupby 후 원하는 데이터만 가져오기

flight.groupby(['airline','arrival_time']).mean().loc[[('AirAsia','Evening')]]

### 인덱스로 그룹화하기

set_index: 칼럼을 인덱스로 변경하는 경우에 사용
기존의 인덱스를 제거하고 칼럼 중 하나를 인덱스로 설정

In [ ]:
# set_index로 인덱스 설정하기

flight.set_index(['airline','arrival_time'])

# 인덱스만 설정한 것일뿐 그룹화를 수행한 것은 아님

In [ ]:
flight

In [ ]:
flight.set_index(['airline','arrival_time','destination_city']).groupby(level=[0,1,2]).mean()

### Aggregate로 집계하기
데이터프레임의 값을 다양하게 집계하여 한 번에 볼 수 있다.

In [ ]:
# aggregate 메소드를 이용하여 groupby 후 평균값과 최댓값 확인하기

flight.set_index(['airline','arrival_time']).groupby(level=[0,1]).aggregate([np.mean,np.max])

## 피벗테이블
pivot과 pivot_table 메소드는 행 데이터를 열 데이터로 회전할 수 있다.

### pivot / pivot_table을 위한 데이터프레임 만들기

In [ ]:
import numpy as np
import pandas as np

pivot_data=pd.DataFrame({'cust_id':['cust_1','cust_1','cust_1','cust_2','cust_2','cust_2','cust_3','cust_3','cust_3'],
                         'prod_cd':['p1','p2','p3','p1','p2','p3','p1','p2','p3'],
                         'grade':['A','A','A','A','A','A','B','B','B'],
                         'purch_amt':[30,10,0,40,15,30,0,0,10]})

pivot_data

In [ ]:
pivot_data.pivot(index='cust_id',columns='prod_cd',values='purch_amt')

In [ ]:
pivot_data.pivot_table(index='grade',columns='prod_cd',values='purch_amt')

## 인덱스 및 칼럼 레벨 변경 stack / unstack 메소드

- stack 은 칼럼 레벨에서 인덱스 레벨로 데이터 프레임을 변경합니다.

  데이터를 행의 레벨로 쌓아 올리는 개념으로 이해하자

- unstack은 인덱스 레벨에서 칼럼 레벨로 위치를 변경하여 데이터를 쌓아 올림.

In [ ]:
import numpy as np
import pandas as pd

stack_data=pd.DataFrame({
    'Location':['Seoul','Seoul','Seoul','kyounggi','kyounggi','Busan','Seoul','Seoul','Busan','kyounggi','kyounggi','kyounggi'],
    'Day':['Mon','Tue','Wed','Mon','Tue','Mon','Thu','Fri','Tue','Wed','Thu','Fri'],
    'Ranfall':[100,80,1000,200,200,100,50,100,200,100,50,100],
    'Rainfall_precipitation':[80,70,90,10,20,30,50,90,20,80,50,10],
    'Temp':[32,27,32,31,30,28,27,25,26,33,34,31]
})

stack_data

### Unstack (인덱스 레벨에서 칼럼 레벨로 위치를 변경하여 데이터를 쌓아 올림)

In [ ]:
new_stack_data=stack_data.set_index(['Location','Day'])
new_stack_data

In [ ]:
new_stack_data.unstack(0) # 인덱스 레벨 0이었던 Location을 칼럼으로 만듦

In [ ]:
new_stack_data.unstack(1)

### stack (칼럼 레벨에서 인덱스 레벨로 데이터 프레임을 변경)

In [ ]:
new_stack_data=new_stack_data.unstack(1)
new_stack_data.stack(1)

## 데이터프레임 병합하기

데이터 전처리 과정에서 데이터 병합이 필요한 상황도 많이 발생한다.
2개 이상의 데이터프레임을 병합하는 방법을 알아본다.

### concat을 이용하여 병합하기

> 파라미터 중 `ignore_index`와 `axis`의 값을 비교

`ignore_index`

1.   False - 기존 인덱스를 유지
2.   True - 기존 인덱스 무시 (인덱스 재배열)


`axis` : 데이터프레임을 행 레벨로 병합인지, 칼럼 레벨로 병합할 것인지 정의
1.  0 (행 레벨로 병합) 세로로 합치기
2.  1 (칼럼 레벨로 병합) 가로로 합치기

In [ ]:
# concat을 위한 데이터프레임 만들기

import numpy as np
import pandas as pd

df1=pd.DataFrame({'col1':['사과','배','감','수박','멜론'],
                  'col2':[500,1000,2500,5000,3000]},
                 index=[0,1,2,3,4])

df2=pd.DataFrame({'col1':['수박','멜론','딸기','키위','오렌지'],
                  'col2':[5000,3000,1000,600,700]},
                 index=[3,4,5,6,7])

df2

In [ ]:
pd.concat([df1,df2],ignore_index=True)

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.concat([df1,df2],axis=0,ignore_index=True)

In [ ]:
pd.concat([df1,df2],axis=1)

# df1,df2 는 칼럼명이 동일하지만, 나란히 칼럼명들이 각각 쓰여 있고,
# 동일한 인덱스의 경우 나란히 합쳐지고. 서로 다른 인덱스인 경우 NaN을 출력한다.

### 칼럼명이 다른 경우 (concat)

칼럼명이 다른 데이터 플레임을 생성하여 concat의 파라미터 중 join을 통해 확인해본다.

# join =
1.   outer (합집합)
2.   inner (교집합)

In [ ]:
df3=pd.DataFrame({'item':['item0','item1','item2','item3'],
                  'count':['count0','count1','count2','count3'],
                  'price':['price0','price1','price2','price3']},
                 index=[0,1,2,3])

df4=pd.DataFrame({'item':['item2','item3','item4','item5'],
                  'count':['count2','count3','count4','count5'],
                  'price':['price2','price3','price4','price5'],
                  'var':['var2','var3','var4','var5']},
                 index=[2,3,4,5])

In [ ]:
pd.concat([df3,df4],
          join='outer')

In [ ]:
pd.concat([df3,df4],
          join='inner')

outer 방식은 df3에 없는 'var' 칼럼 값 까지 병합하고,
inner 방식은 공통으로 존재하는 칼럼만 병합한다.

### 인덱스가 중복인  (concat)

> 들여쓴 블록


인덱스가 중복이 있는 데이터프레임을 병합하는 경우 concat 함수의 파라미터 중

verify_integrity 속성을 사용한다

이 속성은 데이터프레임에서 인덱스 중복 여부를 점검하는 파라미터이며,

Default 값은 False이고 인덱스 중복으로 인한 에러가 발생하지 않는다.

In [ ]:
df5=pd.DataFrame({'A':['A0','A1','A2'],
                  'B':['B0','B1','B2'],
                  'C':['C0','C1','C2'],
                  'D':['D0','D1','D2']},
                 index=['I0','I1','I2'])

df6=pd.DataFrame({'A':['AA2','A3','A4'],
                  'B':['BB2','B3','B4'],
                  'C':['CC2','C3','C4'],
                  'D':['DD2','D3','D4']},
                 index=['I2','I3','I4'])

In [ ]:
pd.concat([df5,df6],verify_integrity=True)

# 인덱스 중복인거 확인 ['I2'] 이 인덱스 중복

## merge/join 함수 활용하여 병합하기

특정한 key를 기준으로 데이터프레임을 병합할 수 있다.

In [ ]:
import numpy as np
import pandas as pd

customer=pd.DataFrame({'customer_id':np.arange(6),
                       'name':['James','Elly','Tom','Givert','Aiden','Brody'],
                       '나이':[40,20,21,30,31,18]})

orders=pd.DataFrame({'customer_id':[1,1,2,2,2,3,3,1,4,9],
                     'item':['마우스','충전기','이어폰','헤드셋','전자펜','키보드',
                             '전자펜','마우스','키보드','케이스'],
                     'quantity':[1,2,1,1,3,2,2,3,2,1]})

merge 함수는 서로 다른 형태와 값의 데이터프레임을 병합할 때 사용,
merge 함수의 on 파라미터를 통해 어떤 칼럼을 이용하여 merge 할 것 인지 정의하고,
how 파라미터를 이용하여 merge를 정의할 수 있다.

how 파라미터로 정의할 수 있는 방법은 총 4가지
- 1. inner: 일치하는 값이 있는 경우에만 가져온다.
- 2. left: 왼쪽 데이터프레임을 기준으로 오른쪽 데이터프레임을 병합한다
- 3. right: 오른쪽 데이터프레임을 기준으로 왼쪽 데이터프레임을 병합한다.
- 4. outer: left와 right를 합한 데이터프레임을 병합한다.

### merge 함수의 속성 on 이해하기

In [ ]:
pd.merge(customer,orders,on='customer_id')
# customer_id를 기준으로 두 데이터프레임 병합

### merge 함수의 속성 how 이해하기

how='inner' 가 default 값

In [ ]:
customer

In [ ]:
orders

In [ ]:
pd.merge(customer,orders,on='customer_id',how='inner')

# 이렇게 되면 name의 James와 customer_id = 9 가 누락됨

In [ ]:
pd.merge(customer,orders,on='customer_id',how='left')

# 왼쪽 customer 데이터프레임을 기준으로 order 데이터프레임을 병합한 것이므로,
# customer_id=0 인 경우와 5인 경우가 orders 데이터프레임에는 존재하지 않기 때문에 NaN 이 채워짐

In [ ]:
pd.merge(customer,orders,on='customer_id',how='right')

# orders 데이터프레임을 기준으로 칼럼 'customer_id'를 이용하여 병합한 결과
# orders 데이터프레임을 기준으로 하였기때문에, customer 데이터프레임에만 존재하는 customer_id=0과 customer_id=5 인 경우에 결과가 보이지 않는다.
# orders customer_id가 9인 item=케이스인 항목이 보임.

In [ ]:
pd.merge(customer,orders,on='customer_id',how='outer')

# 두 데이터프레임의 'customer_id'를 모두 활용하여 병합한 결과

# 문제 1. 데이터 프레임 병합하기 에서 customer, orders 데이터프레임을 사용할 경우 가장 많이 팔린 아이템은 무엇인가??

In [ ]:
customer, orders

In [ ]:
orders.set_index(['item']).groupby(level=0).sum().sort_values(by='quantity',ascending=False).drop(columns='customer_id')
# 전자펜이 제일 많이 팔림

# customer, orders 데이터프레임을 사용할 경우 Elly 가 가장많이 구매한 물건은? (merge,groupby,loc) 활용

In [ ]:
df1=pd.merge(customer,orders,on='customer_id',how='right')
df1.groupby(['name','item']).sum().loc['Elly']