In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
import numpy as np
from matplotlib import font_manager, rc
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, ExtraTreeClassifier
from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from keras.callbacks import ModelCheckpoint, EarlyStopping
font_path = "c:\WINDOWS\Fonts\GULIM.TTC"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)
plt.rc('font', size=8)

In [2]:
dataframe = pd.read_csv(r'C:\Users\hyssk\AICE_\open\train.csv')
dataframe.drop(columns='ID',inplace=True)
dataframe

,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,대출등급
0,12480000,36 months,6 years,RENT,72000000,18.90,15,부채 통합,0,0,0.0,0.0,0.0,C
1,14400000,60 months,10+ years,MORTGAGE,130800000,22.33,21,주택 개선,0,373572,234060.0,0.0,0.0,B
2,12000000,36 months,5 years,MORTGAGE,96000000,8.60,14,부채 통합,0,928644,151944.0,0.0,0.0,A
3,14400000,36 months,8 years,MORTGAGE,132000000,15.09,15,부채 통합,0,325824,153108.0,0.0,0.0,C
4,18000000,60 months,Unknown,RENT,71736000,25.39,19,주요 구매,0,228540,148956.0,0.0,0.0,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96289,14400000,36 months,10+ years,MORTGAGE,210000000,9.33,33,신용 카드,0,974580,492168.0,0.0,0.0,C
96290,28800000,60 months,10+ years,MORTGAGE,132000000,5.16,25,주택 개선,0,583728,855084.0,0.0,0.0,E
96291,14400000,36 months,1 year,MORTGAGE,84000000,11.24,22,신용 카드,0,1489128,241236.0,0.0,0.0,A
96292,15600000,36 months,5 years,MORTGAGE,66330000,17.30,21,부채 통합,2,1378368,818076.0,0.0,0.0,D
96293,8640000,36 months,10+ years,RENT,50400000,11.80,14,신용 카드,0,596148,274956.0,0.0,0.0,C

In [3]:
dataframe['근로기간']=dataframe['근로기간'].replace('1 years','1 year')
dataframe['근로기간']=dataframe['근로기간'].replace('3','3 years')
dataframe['근로기간']=dataframe['근로기간'].replace('<1 year','< 1 year')
dataframe['근로기간']=dataframe['근로기간'].replace('10+years','10+ years')
dataframe['근로기간'].value_counts()

10+ years    32481
2 years       8450
< 1 year      8144
3 years       7670
1 year        6305
Unknown       5671
5 years       5665
4 years       5588
8 years       4888
6 years       3874
7 years       3814
9 years       3744
Name: 근로기간, dtype: int64

In [10]:
X=dataframe[['대출금액','대출기간', '연간소득', '부채_대비_소득_비율', '총계좌수', '총상환원금', '총상환이자']]
y=dataframe[['대출등급']]

In [14]:
from sklearn.preprocessing import RobustScaler, LabelEncoder

rs=RobustScaler()

for col in ['대출금액','연간소득','부채_대비_소득_비율','총계좌수','총상환원금','총상환이자']:
    X[col]=rs.fit_transform(X[[col]])
X

c:\Users\hyssk\anaconda3\envs\pytorch_project\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\Users\hyssk\anaconda3\envs\pytorch_project\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\Users\hyssk\anaconda3\envs\pytorch_project\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\Users\hyssk\anaconda3\envs\pytorch_project\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\Users\hyssk\anaconda3\envs\pytorch_project\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\Users\hyssk\anaconda3\envs\pytorch_project\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,대출금액,대출기간,연간소득,부채_대비_소득_비율,총계좌수,총상환원금,총상환이자
0,-0.313043,36 months,-0.108696,0.012413,-0.600000,-0.799589,-0.658871
1,-0.173913,60 months,0.956522,0.278510,-0.200000,-0.299830,-0.121543
2,-0.347826,36 months,0.326087,-0.786656,-0.666667,0.442737,-0.310055
3,-0.173913,36 months,0.978261,-0.283165,-0.600000,-0.363706,-0.307383
4,0.086957,60 months,-0.113478,0.515904,-0.333333,-0.493852,-0.316915
...,...,...,...,...,...,...,...
96289,-0.173913,36 months,2.391304,-0.730023,0.600000,0.504190,0.470992
96290,0.869565,60 months,0.978261,-1.053530,0.066667,-0.018686,1.304132
96291,-0.173913,36 months,0.108696,-0.581846,-0.133333,1.192545,-0.105069
96292,-0.086957,36 months,-0.211413,-0.111715,-0.200000,1.044372,1.219174
96293,-0.591304,36 months,-0.500000,-0.538402,-0.666667,-0.002071,-0.027658

In [28]:
le=LabelEncoder()
X['대출기간']=le.fit_transform(X[['대출기간']]).reshape(-1,1)
le2=LabelEncoder()
y=pd.DataFrame(le2.fit_transform(y).reshape(-1,1),columns=['대출등급'])
y

c:\Users\hyssk\anaconda3\envs\pytorch_project\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\hyssk\anaconda3\envs\pytorch_project\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       대출등급
0         2
1         1
2         0
3         2
4         1
...     ...
96289     2
96290     4
96291     0
96292     3
96293     2

[96294 rows x 1 columns]

In [29]:
X

           대출금액  대출기간      연간소득  부채_대비_소득_비율      총계좌수     총상환원금     총상환이자
0     -0.313043     0 -0.108696     0.012413 -0.600000 -0.799589 -0.658871
1     -0.173913     1  0.956522     0.278510 -0.200000 -0.299830 -0.121543
2     -0.347826     0  0.326087    -0.786656 -0.666667  0.442737 -0.310055
3     -0.173913     0  0.978261    -0.283165 -0.600000 -0.363706 -0.307383
4      0.086957     1 -0.113478     0.515904 -0.333333 -0.493852 -0.316915
...         ...   ...       ...          ...       ...       ...       ...
96289 -0.173913     0  2.391304    -0.730023  0.600000  0.504190  0.470992
96290  0.869565     1  0.978261    -1.053530  0.066667 -0.018686  1.304132
96291 -0.173913     0  0.108696    -0.581846 -0.133333  1.192545 -0.105069
96292 -0.086957     0 -0.211413    -0.111715 -0.200000  1.044372  1.219174
96293 -0.591304     0 -0.500000    -0.538402 -0.666667 -0.002071 -0.027658

[96294 rows x 7 columns]

In [30]:
y

       대출등급
0         2
1         1
2         0
3         2
4         1
...     ...
96289     2
96290     4
96291     0
96292     3
96293     2

[96294 rows x 1 columns]

# 데이터 분할

In [34]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,stratify=y)
X_train

           대출금액  대출기간      연간소득  부채_대비_소득_비율      총계좌수     총상환원금     총상환이자
84054  0.778261     0  0.978261    -0.170675  0.800000  2.772427  1.335344
87781 -0.347826     0  0.543478     0.328161  0.866667 -0.387305 -0.553030
83487  0.869565     1  1.413043    -0.169899  0.800000  0.401849  2.682314
42170  1.217391     0  1.304348    -0.279286  0.800000 -0.799589 -0.658871
49021 -0.228261     1 -0.869565     0.591156 -0.600000 -0.799589 -0.658871
...         ...   ...       ...          ...       ...       ...       ...
19157 -0.347826     0 -0.543478    -0.017843 -0.400000 -0.427214 -0.317686
6884   1.826087     1  0.141304    -0.404189 -0.600000 -0.086191  0.139036
53651 -0.904348     0  0.760870    -0.931730 -0.066667 -0.799589 -0.658871
90175  1.339130     1  0.108696     1.477890  0.333333 -0.335645  0.510441
52824 -0.760870     0  0.326087     0.573313  1.200000 -0.409780 -0.368981

[67405 rows x 7 columns]

In [40]:
y_train

       대출등급
84054     1
87781     0
83487     4
42170     1
49021     6
...     ...
19157     2
6884      1
53651     2
90175     4
52824     2

[67405 rows x 1 columns]

In [46]:
model=Sequential([
    Dense(4,input_shape=(7,)),
    Dense(8,activation='relu'),
    Dense(16,activation='relu'),
    Dense(7,activation='sigmoid')
])
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])
history=model.fit(X_train,y_train, epochs= 50,validation_data=(X_test,y_test))

Epoch 1/50
2107/2107 [==============================] - 2s 868us/step - loss: 1.2656 - accuracy: 0.4956 - val_loss: 1.0645 - val_accuracy: 0.5973
Epoch 2/50
2107/2107 [==============================] - 2s 812us/step - loss: 0.9195 - accuracy: 0.6624 - val_loss: 0.8023 - val_accuracy: 0.7139
Epoch 3/50
2107/2107 [==============================] - 2s 931us/step - loss: 0.7368 - accuracy: 0.7372 - val_loss: 0.6762 - val_accuracy: 0.7594
Epoch 4/50
2107/2107 [==============================] - 2s 831us/step - loss: 0.6444 - accuracy: 0.7718 - val_loss: 0.6215 - val_accuracy: 0.7648
Epoch 5/50
2107/2107 [==============================] - 2s 818us/step - loss: 0.6033 - accuracy: 0.7866 - val_loss: 0.6073 - val_accuracy: 0.7754
Epoch 6/50
2107/2107 [==============================] - 2s 800us/step - loss: 0.5879 - accuracy: 0.7935 - val_loss: 0.5724 - val_accuracy: 0.7986
Epoch 7/50
2107/2107 [==============================] - 2s 797us/step - loss: 0.5780 - accuracy: 0.7996 - val_loss: 0.5688 - val_accuracy: 0.8064
Epoch 8/50
2107/2107 [==============================] - 2s 795us/step - loss: 0.5730 - accuracy: 0.8017 - val_loss: 0.5690 - val_accuracy: 0.7955
Epoch 9/50
2107/2107 [==============================] - 2s 816us/step - loss: 0.5637 - accuracy: 0.8033 - val_loss: 0.5587 - val_accuracy: 0.8062
Epoch 10/50
2107/2107 [==============================] - 2s 815us/step - loss: 0.5587 - accuracy: 0.8076 - val_loss: 0.6046 - val_accuracy: 0.7732
Epoch 11/50
2107/2107 [==============================] - 2s 827us/step - loss: 0.5547 - accuracy: 0.8075 - val_loss: 0.5505 - val_accuracy: 0.8108
Epoch 12/50
2107/2107 [==============================] - 2s 794us/step - loss: 0.5500 - accuracy: 0.8093 - val_loss: 0.5555 - val_accuracy: 0.8036
Epoch 13/50
2107/2107 [==============================] - 2s 845us/step - loss: 0.5486 - accuracy: 0.8106 - val_loss: 0.5411 - val_accuracy: 0.8074
Epoch 14/50
2107/2107 [==============================] - 2s 823us/step - loss: 0.5431 - accuracy: 0.8127 - val_loss: 0.5642 - val_accuracy: 0.7931
Epoch 15/50
2107/2107 [==============================] - 2s 872us/step - loss: 0.5401 - accuracy: 0.8151 - val_loss: 0.5488 - val_accuracy: 0.8086
Epoch 16/50
2107/2107 [==============================] - 2s 843us/step - loss: 0.5380 - accuracy: 0.8144 - val_loss: 0.5328 - val_accuracy: 0.8136
Epoch 17/50
2107/2107 [==============================] - 2s 823us/step - loss: 0.5362 - accuracy: 0.8151 - val_loss: 0.5307 - val_accuracy: 0.8165
Epoch 18/50
2107/2107 [==============================] - 2s 811us/step - loss: 0.5352 - accuracy: 0.8147 - val_loss: 0.5310 - val_accuracy: 0.8125
Epoch 19/50
2107/2107 [==============================] - 2s 825us/step - loss: 0.5330 - accuracy: 0.8163 - val_loss: 0.5223 - val_accuracy: 0.8201
Epoch 20/50
2107/2107 [==============================] - 2s 798us/step - loss: 0.5307 - accuracy: 0.8169 - val_loss: 0.5341 - val_accuracy: 0.8219
Epoch 21/50
2107/2107 [==============================] - 2s 812us/step - loss: 0.5279 - accuracy: 0.8188 - val_loss: 0.5409 - val_accuracy: 0.8068
Epoch 22/50
2107/2107 [==============================] - 2s 825us/step - loss: 0.5283 - accuracy: 0.8171 - val_loss: 0.5408 - val_accuracy: 0.8074
Epoch 23/50
2107/2107 [==============================] - 2s 819us/step - loss: 0.5258 - accuracy: 0.8184 - val_loss: 0.5266 - val_accuracy: 0.8198
Epoch 24/50
2107/2107 [==============================] - 2s 819us/step - loss: 0.5236 - accuracy: 0.8189 - val_loss: 0.5234 - val_accuracy: 0.8113
Epoch 25/50
2107/2107 [==============================] - 2s 816us/step - loss: 0.5228 - accuracy: 0.8192 - val_loss: 0.5253 - val_accuracy: 0.8167
Epoch 26/50
2107/2107 [==============================] - 2s 831us/step - loss: 0.5199 - accuracy: 0.8204 - val_loss: 0.5145 - val_accuracy: 0.8181
Epoch 27/50
2107/2107 [==============================] - 2s 796us/step - loss: 0.5197 - accuracy: 0.8216 - val_loss: 0.5122 - val_accuracy: 0.8293
Epoch 28/50
2107/2107 [==============================] - 2s 819us/step - loss: 0.5187 - accuracy: 0.8210 - val_loss: 0.5211 - val_accuracy: 0.8200
Epoch 29/50
2107/2107 [==============================] - 2s 815us/step - loss: 0.5208 - accuracy: 0.8207 - val_loss: 0.5125 - val_accuracy: 0.8280
Epoch 30/50
2107/2107 [==============================] - 2s 823us/step - loss: 0.5171 - accuracy: 0.8215 - val_loss: 0.5174 - val_accuracy: 0.8158
Epoch 31/50
2107/2107 [==============================] - 2s 855us/step - loss: 0.5157 - accuracy: 0.8223 - val_loss: 0.5158 - val_accuracy: 0.8183
Epoch 32/50
2107/2107 [==============================] - 2s 814us/step - loss: 0.5153 - accuracy: 0.8226 - val_loss: 0.5154 - val_accuracy: 0.8268
Epoch 33/50
2107/2107 [==============================] - 2s 797us/step - loss: 0.5172 - accuracy: 0.8209 - val_loss: 0.5109 - val_accuracy: 0.8224
Epoch 34/50
2107/2107 [==============================] - 2s 801us/step - loss: 0.5133 - accuracy: 0.8238 - val_loss: 0.5081 - val_accuracy: 0.8215
Epoch 35/50
2107/2107 [==============================] - 2s 828us/step - loss: 0.5133 - accuracy: 0.8229 - val_loss: 0.5118 - val_accuracy: 0.8242
Epoch 36/50
2107/2107 [==============================] - 2s 818us/step - loss: 0.5129 - accuracy: 0.8227 - val_loss: 0.5205 - val_accuracy: 0.8183
Epoch 37/50
2107/2107 [==============================] - 2s 840us/step - loss: 0.5111 - accuracy: 0.8242 - val_loss: 0.5076 - val_accuracy: 0.8260
Epoch 38/50
2107/2107 [==============================] - 2s 826us/step - loss: 0.5122 - accuracy: 0.8235 - val_loss: 0.5213 - val_accuracy: 0.8081
Epoch 39/50
2107/2107 [==============================] - 2s 794us/step - loss: 0.5104 - accuracy: 0.8239 - val_loss: 0.5070 - val_accuracy: 0.8209
Epoch 40/50
2107/2107 [==============================] - 2s 818us/step - loss: 0.5114 - accuracy: 0.8219 - val_loss: 0.5125 - val_accuracy: 0.8172
Epoch 41/50
2107/2107 [==============================] - 2s 851us/step - loss: 0.5072 - accuracy: 0.8243 - val_loss: 0.5106 - val_accuracy: 0.8204
Epoch 42/50
2107/2107 [==============================] - 2s 819us/step - loss: 0.5069 - accuracy: 0.8239 - val_loss: 0.5068 - val_accuracy: 0.8252
Epoch 43/50
2107/2107 [==============================] - 2s 818us/step - loss: 0.5099 - accuracy: 0.8241 - val_loss: 0.5127 - val_accuracy: 0.8206
Epoch 44/50
2107/2107 [==============================] - 2s 820us/step - loss: 0.5069 - accuracy: 0.8250 - val_loss: 0.5046 - val_accuracy: 0.8189
Epoch 45/50
2107/2107 [==============================] - 2s 795us/step - loss: 0.5069 - accuracy: 0.8242 - val_loss: 0.5046 - val_accuracy: 0.8262
Epoch 46/50
2107/2107 [==============================] - 2s 807us/step - loss: 0.5036 - accuracy: 0.8263 - val_loss: 0.5060 - val_accuracy: 0.8245
Epoch 47/50
2107/2107 [==============================] - 2s 819us/step - loss: 0.5055 - accuracy: 0.8253 - val_loss: 0.5063 - val_accuracy: 0.8260
Epoch 48/50
2107/2107 [==============================] - 2s 825us/step - loss: 0.5014 - accuracy: 0.8278 - val_loss: 0.4993 - val_accuracy: 0.8243
Epoch 49/50
2107/2107 [==============================] - 2s 838us/step - loss: 0.5022 - accuracy: 0.8264 - val_loss: 0.5062 - val_accuracy: 0.8266
Epoch 50/50
2107/2107 [==============================] - 2s 807us/step - loss: 0.5039 - accuracy: 0.8252 - val_loss: 0.5129 - val_accuracy: 0.8138